<!DOCTYPE html>
<html lang="en" class="no-js" ng-app>
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Page Preloading Effect | Demo 1</title>
		<meta name="description" content="Page Preloading Effect: Re-creating the effect seen on fontface.ninja" />
		<meta name="keywords" content="page loading, effect, initial, logo, sliding, web design, css animation, transform" />
		<meta name="author" content="Codrops" />
		<link rel="shortcut icon" href="../favicon.ico">
		<link rel="stylesheet" type="text/css" href="css/normalize.css" />
		<link rel="stylesheet" type="text/css" href="css/demo.css" />
		<link rel="stylesheet" type="text/css" href="css/effect1.css" />
		<link rel="stylesheet" type="text/css" href="css/timeline.css">
		<link rel="stylesheet prefetch" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
		<script src="js/modernizr.custom.js"></script>
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
		<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular-route.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular-animate.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular-cookies.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular-resource.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular-sanitize.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular-touch.min.js"></script>
    <script src="js/angularjs.js"></script>
	</head>
	<body class="demo-1">
		<div id="ip-container" class="ip-container" ng-controller="indexCtrl">
			<!-- initial header -->
			<header class="ip-header">
				<h1 class="ip-logo">
					<svg class="ip-inner" width="100%" height="100%" viewBox="0 -50 750 600" preserveAspectRatio="xMidYMin meet" aria-labelledby="logo_title">

						<path id="heart" transform="matrix(1, 0, 0, 1, 50, 0)" d="M 297.29747,550.86823 C 283.52243,535.43191 249.1268,505.33855 220.86277,483.99412 C 137.11867,420.75228 125.72108,411.5999 91.719238,380.29088 C 29.03471,322.57071 2.413622,264.58086 2.5048478,185.95124 C 2.5493594,147.56739 5.1656152,132.77929 15.914734,110.15398 C 34.151433,71.768267 61.014996,43.244667 95.360052,25.799457 C 119.68545,13.443675 131.6827,7.9542046 172.30448,7.7296236 C 214.79777,7.4947896 223.74311,12.449347 248.73919,26.181459 C 279.1637,42.895777 310.47909,78.617167 316.95242,103.99205 L 320.95052,119.66445 L 330.81015,98.079942 C 386.52632,-23.892986 564.40851,-22.06811 626.31244,101.11153 C 645.95011,140.18758 648.10608,223.6247 630.69256,270.6244 C 607.97729,331.93377 565.31255,378.67493 466.68622,450.30098 C 402.0054,497.27462 328.80148,568.34684 323.70555,578.32901 C 317.79007,589.91654 323.42339,580.14491 297.29747,550.86823 z"></path>
						<text>
							<textPath xlink:href="#heart">
								I can't believe you will be my girlfrined . I will protect you all of myself . In the future, I wish can accompany you through your birthday every year. So I make this web to countdown the 8/18 date is coming. I love you dear. By Superbobo.
					    </textPath>
					  </text>
					</svg>
				</h1>
				<div class="ip-loader">
					<svg class="ip-inner" width="60px" height="60px" viewBox="0 0 80 80">
						<path class="ip-loader-circlebg" d="M40,10C57.351,10,71,23.649,71,40.5S57.351,71,40.5,71 S10,57.351,10,40.5S23.649,10,40.5,10z"/>
						<path id="ip-loader-circle" class="ip-loader-circle" d="M40,10C57.351,10,71,23.649,71,40.5S57.351,71,40.5,71 S10,57.351,10,40.5S23.649,10,40.5,10z"/>
					</svg>
				</div>
			</header>
			<!-- main content -->
			<div class="ip-main">
				<nav class="codrops-demos">
					<a class="current-demo">Chia En</a>
					<a class="current-demo">Chung Shin</a>
				</nav>
				<div class="alllove">
				  <span class="love love1 glyphicon glyphicon-heart"></span>
				  <span class="love love2 glyphicon glyphicon-heart"></span>
				  <span class="love love3 glyphicon glyphicon-heart"></span>
				  <span class="love love4 glyphicon glyphicon-heart"></span>
				  <span class="love love5 glyphicon glyphicon-heart"></span>
				  <h2 class="title-h2">Happy Birthday.</h2>
				</div>
				<div class="cake-div">
					<div class="cake">
					  <div class="velas">
					    <div class="fuego"></div>
					    <div class="fuego"></div>
					    <div class="fuego"></div>
					    <div class="fuego"></div>
					    <div class="fuego"></div>
					  </div>
					  <div class="cobertura"></div>
					  <div class="bizcocho"></div>
					</div>
				</div>
				<p class="title-h2 title-h3" ng-if="is_today === false">{{now_year}} 8 18 countdown in</p>
				<p class="title-h2 title-h3" ng-if="is_today === true">Today is your Birthday Dear ~~</p>
				<div id="timer">
				  <div id="days"></div>
				  <div id="hours"></div>
				  <div id="minutes"></div>
				  <div id="seconds"></div>
				</div>
			</div>
			<section id="timeline">
			  <article>
			    <div class="inner">
			      <span class="date">
			        <span class="day">31<sup>th</sup></span>
			        <span class="month">5</span>
			        <span class="year">2014</span>
			      </span>
			      <h2>還沒在一起a偷拍</h2>
			      <p>
							稍微給他很害秋啦～～
							<img src="img/2014-05-31 20.15.13.jpg" alt="" />
						</p>
			    </div>
			  </article>
			  <article>
			    <div class="inner">
			      <span class="date">
			        <span class="day">24<sup>th</sup></span>
			        <span class="month">6</span>
			        <span class="year">2014</span>
			      </span>
			      <h2>在一起之第一次約會</h2>
			      <p>第一次約會就從竹南騎車到台北會不會太充實。
							<img src="img/P6221792.jpg" alt="" />
						</p>
			    </div>
			  </article>
			  <article>
			    <div class="inner">
			      <span class="date">
			        <span class="day">2<sup>th</sup></span>
			        <span class="month">7</span>
			        <span class="year">2014</span>
			      </span>
			      <h2>公主出巡</h2>
			      <p>
							前面的讓開！！！！
							<img src="img/P7260002.jpg"/>
						</p>
			    </div>
			  </article>
			  <article>
			    <div class="inner">
			      <span class="date">
			        <span class="day">26<sup>th</sup></span>
			        <span class="month">Jan</span>
			        <span class="year">2014</span>
			      </span>
			      <h2>我們的紀念日</h2>
			      <p>
							說實在我不懂你以什麼為根據把這天當成紀念日的顆。
							<img src="img/pic.JPG" alt="" />
						</p>
			    </div>
			  </article>
			  <article>
			    <div class="inner">
			      <span class="date">
			        <span class="day">∞<sup>th</sup></span>
			        <span class="month">Forever</span>
			        <span class="year">∞</span>
			      </span>
			      <h2>Forever</h2>
			      <p>
							Love u Dear.
							<img src="img/20141207110935.jpg" alt="" />
						</p>
			    </div>
			  </article>
			</section>
		</div><!-- /container -->
		<script src="js/classie.js"></script>
		<script src="js/pathLoader.js"></script>
		<script src="js/main.js"></script>
	</body>
</html>
