<!DOCTYPE html>
<html lang="en" class="no-js" ng-app>
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge"> 
		<meta name="viewport" content="width=device-width, initial-scale=1"> 
		<title>Page Preloading Effect | Demo 1</title>
		<meta name="description" content="Page Preloading Effect: Re-creating the effect seen on fontface.ninja" />
		<meta name="keywords" content="page loading, effect, initial, logo, sliding, web design, css animation, transform" />
		<meta name="author" content="Codrops" />
		<link rel="shortcut icon" href="../favicon.ico">
		<link rel="stylesheet" type="text/css" href="css/normalize.css" />
		<link rel="stylesheet" type="text/css" href="css/demo.css" />
		<link rel="stylesheet" type="text/css" href="css/effect1.css" />
		<link rel="stylesheet prefetch" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
		<script src="js/modernizr.custom.js"></script>
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
		<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular-route.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular-animate.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular-cookies.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular-resource.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular-sanitize.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular-touch.min.js"></script>
    <script src="js/angularjs.js"></script>
	</head>
	<body class="demo-1">
		<div id="ip-container" class="ip-container" ng-controller="indexCtrl">
			<!-- initial header -->
			<header class="ip-header">
				<h1 class="ip-logo">
					<svg class="ip-inner" width="100%" height="100%" viewBox="0 -50 750 600" preserveAspectRatio="xMidYMin meet" aria-labelledby="logo_title">

						<path id="heart" transform="matrix(1, 0, 0, 1, 50, 0)" d="M 297.29747,550.86823 C 283.52243,535.43191 249.1268,505.33855 220.86277,483.99412 C 137.11867,420.75228 125.72108,411.5999 91.719238,380.29088 C 29.03471,322.57071 2.413622,264.58086 2.5048478,185.95124 C 2.5493594,147.56739 5.1656152,132.77929 15.914734,110.15398 C 34.151433,71.768267 61.014996,43.244667 95.360052,25.799457 C 119.68545,13.443675 131.6827,7.9542046 172.30448,7.7296236 C 214.79777,7.4947896 223.74311,12.449347 248.73919,26.181459 C 279.1637,42.895777 310.47909,78.617167 316.95242,103.99205 L 320.95052,119.66445 L 330.81015,98.079942 C 386.52632,-23.892986 564.40851,-22.06811 626.31244,101.11153 C 645.95011,140.18758 648.10608,223.6247 630.69256,270.6244 C 607.97729,331.93377 565.31255,378.67493 466.68622,450.30098 C 402.0054,497.27462 328.80148,568.34684 323.70555,578.32901 C 317.79007,589.91654 323.42339,580.14491 297.29747,550.86823 z"></path>
						<text>
							<textPath xlink:href="#heart">
								I can't believe you will be my girlfrined . I will protect you all of myself . In the future, I wish can accompany you through your birthday every year. So I make this web to countdown the 8/18 date is coming. I love you dear. By Superbobo.
					    </textPath>
					  </text>
					</svg>
				</h1>
				<div class="ip-loader">
					<svg class="ip-inner" width="60px" height="60px" viewBox="0 0 80 80">
						<path class="ip-loader-circlebg" d="M40,10C57.351,10,71,23.649,71,40.5S57.351,71,40.5,71 S10,57.351,10,40.5S23.649,10,40.5,10z"/>
						<path id="ip-loader-circle" class="ip-loader-circle" d="M40,10C57.351,10,71,23.649,71,40.5S57.351,71,40.5,71 S10,57.351,10,40.5S23.649,10,40.5,10z"/>
					</svg>
				</div>
			</header>
			<!-- main content -->
			<div class="ip-main">
				<nav class="codrops-demos">
					<a class="current-demo">Chia En</a>
					<a class="current-demo">Chung Shin</a>
				</nav>
				<div class="alllove">
				  <span class="love love1 glyphicon glyphicon-heart"></span>
				  <span class="love love2 glyphicon glyphicon-heart"></span>
				  <span class="love love3 glyphicon glyphicon-heart"></span>
				  <span class="love love4 glyphicon glyphicon-heart"></span>
				  <span class="love love5 glyphicon glyphicon-heart"></span>
				  <h2 class="title-h2">Happy Birthday.</h2>
				</div>
				<div class="cake-div">
					<div class="cake">
					  <div class="velas">
					    <div class="fuego"></div>
					    <div class="fuego"></div>
					    <div class="fuego"></div>
					    <div class="fuego"></div>
					    <div class="fuego"></div>
					  </div>
					  <div class="cobertura"></div>
					  <div class="bizcocho"></div>
					</div>
				</div>
				<p class="title-h2 title-h3" ng-if="is_today == false">距離 {{now_year}} 年8月18日：</p>
				<p class="title-h2 title-h3" ng-if="is_today == true">今天就是妳的生日，Happy Birthday Dear ~~</p>
				<div id="timer">
				  <div id="days"></div>
				  <div id="hours"></div>
				  <div id="minutes"></div>
				  <div id="seconds"></div>
				</div>
				<div class="browser clearfix">
					<div class="box">
						<span class="icon-bell"></span>
						<p>Do Re Mi What Fa Si Ti Doi Nemo Do Re Mi What Fa Si Ti Doi Nemo</p>
					</div>
					<div class="box">
						<span class="icon-heart"></span>
						<p>E La Yo Na Ti Do Pa Pa Noah Do Re Mi What Fa Si Ti Doi Nemo</p>
					</div>
					<div class="box">
						<span class="icon-cog"></span>
						<p>No way! Hey Hey, me ok! Do Re Mi What Fa Si Ti Doi Nemo</p>
					</div>
				</div>
				<!-- related demos -->
<!-- 				<section class="section-heart">
					<div class="love-animate"></div>
				</section> -->
				<section class="related">
					<p ng-show="which_question == 4">安安北鼻長欣～</p>
					<p ng-show="which_question == 4">你願意讓我陪著妳倒數每一年嗎？</p>
					<p class="oops-class" ng-show="oops == 5 && click_show_card == false">oops! 我知道妳手滑按錯，再給妳一次機會選擇！</p>
					<p class="oops-class" ng-show="oops == 5 && is_today == false && click_show_card == true">oops! 生日當天才能看卡片喔ㄏㄏㄏ</p>
					<p ng-hide="which_question == 4">請回答下面問題，確定您是CHUNG SHIN就可以看卡片囉</p>
				</section>
				<section class="question-section">
					<p class="wrong-icon">✖</p>
					<p ng-show="which_question == 1">一.請問，第一個送妳的禮物是什麼？</p>
					<p ng-show="which_question == 2">二.請問，我們在一起紀念日是幾月幾號？</p>
					<p ng-show="which_question == 3">三.請問，我第一次去桃園拿什麼東西給妳？</p>
					<input class="input-question" type="text" ng-model="ans_first_present" ng-show="which_question == 1">
					<input class="input-question" type="text" ng-model="ans_secound_present" ng-show="which_question == 2" placeholder="ex: 0818">
					<input class="input-question" type="text" ng-model="ans_third_present" ng-show="which_question == 3">
					<div class="div-heart">
						<a href="#" id="go" ng-show="which_question == 1" class="button heart" ng-click="answers1()"></a>
						<a href="#" id="go" ng-show="which_question == 2" class="button heart" ng-click="answers2()"></a>
						<a href="#" id="go" ng-show="which_question == 3" class="button heart" ng-click="answers3()"></a>
					</div>
				</section>
				<section ng-show="which_question == 4" class="choose-section">
					<a href="#" class="button tick" ng-click="showCard()"></a>
				  <a href="#" id="hide_btn" class="button cross" ng-click="hide_card()"></a>
				</section>
				<div id="card" ng-show="show_card == true">
			    <div id="card-inside">
			      <div class="wrap">
			        <p>Dear長欣</p>
			        <p>阿哈哈哈，我就知道妳一定會同意我每一年都陪著妳，因為也沒拒絕的機會啊哈哈哈哈</p>
			        <p>很高興能遇見你，而且跟妳在一起，我真的覺得很爽～</p>
			        <p>八月十八日是個特別的日子，做了這個網站，每年都會倒數妳的生日。</p>
			        <p>花很多時間偷偷做的，尤其在妳睡覺的時候ㄏㄏ</p>
			        <p>希望你會喜歡兒～ ps 每天都想抱著妳睡嗚嗚</p>	
			        <p>我不敢說永遠，但我一定會很努力珍惜這段感情，不輕易放棄和妳一樣～</p>
			        <p>繼續一起努力唄～～～ love u</p>
			        <p>很愛妳也很喜歡妳，雖然吵了不少架，但以後若遇到什麼問題我想都難不倒我們的。鄭長欣我愛妳兒</p>
			        <p class="signed">From 嘉恩</p>
			      </div>
			    </div>
			    <div id="card-front">
			      <div class="wrap">
			        <h1>Happy Birthday!</h1>
			      </div>
			      <button id="open">&gt;</button>
			      <button id="close">&lt;</button>
			    </div>
			  </div>
<!-- 				<div class="wrapper">
				  <input type="checkbox" id="ck1"/>
				  <label for="ck1">I</label>
				  <input type="checkbox" id="ck2"/>
				  <label for="ck2">love</label>
				  <input type="checkbox" id="ck3"/>
				  <label for="ck3">you</label>
				</div> -->
			</div>
		</div><!-- /container -->
		<script src="js/classie.js"></script>
		<script src="js/pathLoader.js"></script>
		<script src="js/main.js"></script>
	</body>
</html>